<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Bank demo project">
    <meta name="author" content="JavaGuru">
    <title>Bank</title>
</head>

<body>

<h3>Menu</h3>

<a href="/moneyTransfer">Money transfer</a> <br>
<a href="/takeALoan">Take a loan</a> <br>
<a href="/openAccount">Open account</a> <br>
<a href="/closeAccount">Close account</a> <br>
<a href="/seeYourAccount">See your account</a> <br>
<a href="/logout">Log out</a> <br>

</body>

</html>